/*adding styling to structural containers*/
/*first we will add a border to define our boxes. */
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color:aliceblue;
}

body{
    border: dotted 3px brown;
    max-width: fit-content;
    margin: auto;
}

header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
    .centeredInfo{
        /* border: solid 2px; */
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        max-width: fit-content;
        max-height: auto;
        padding: 0px 0px 70px 0px;
    }
        .logo{
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-self: center;
        }

section{
    border: solid burlywood;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    text-align: center;
    padding: 0px 0px 70px 0px;
}
/* the classes below will allow you to edit the text in the corresponding fields if your wish */
    .aboutMe{

    }
    .technicalSkills{
        
    }

    .highlightedProjects,
    .activelyWorking{
        display: flex;
        justify-content: space-evenly;
    }

    .box{
        border: solid darkolivegreen;
    }


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}