/*adding styling to structural containers*/
/*first we will add a border to define our boxes. */
*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0a192f;
    color:rgb(85, 112, 137);
    /* border: dotted 1px ; */
    /* padding: 5px; */
}

body{
    margin: auto;
    display: flex;
    flex-flow: column;    
}

header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 100px 0px;
}
    .centeredInfo{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        width: 100%;
        height: auto;
    }
        .logo{
            max-width: 45%;
            display: flex;
            justify-content: center;
            align-self: center;
        
            /* ok lets try adding some animation to this logo */
            animation: rotation 3s;
            /* now lets add a declaration value for time */
            animation-timing-function: linear;
            /* and now lets declare how many times the loop will run */
            animation-iteration-count: infinite;
        }
            @keyframes rotation {
                from {
                    transform: rotateY(0deg);
                } to {
                    transform: rotateY(359deg);
                }
            }
        .intro{
            color: #64ffda;
            font-size: large;
        }
        .name{
            font-size:x-large;
            font-weight: bolder;
            display: flex;
            flex-flow: column;
            align-items: center;
            }
            .name .uno {
                color: #a8b2d1;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-shadow: 20px -15px #64ffda;
            }
            .name .dos{
                font-size: x-large;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        .centeredInfo a{
            text-decoration: none;
            color: #64ffda;
        }

        

section{
    text-align: center;
    padding: 0px 0px 50px 0px;
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
}
/* the classes below will allow you to edit the text in the corresponding fields if your wish */
    .aboutMe{
        font-size: large;

        padding: 50px 0px 50px 0px;
    }

    .technicalSkills{
        font-size: large;

        padding: 50px 0px 50px 0px;
    }

    .highlightedProjects,
    .activelyWorking{
        font-size: large;
        
        display: flex;
        justify-content: space-evenly;
        padding: 25px 0px 50px 0px;
    }
    
    /* You can add additional functions to the boxes*/
    .box{
        border: solid 1px #0b6e4f;
        color: aliceblue;
        max-width: 200px;
        width: auto;
        max-height: 200px;
        height: auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 50px 0px 50px 0px;
}

