/*adding styling to structural containers*/
/*first we will add a border to define our boxes. */
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color:aliceblue;
}

body{
    margin: auto;
}

header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 100px 0px;
}
    .centeredInfo{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        max-width: 70%;
        width: 100%;
        height: auto;
        padding: 0px 0px 50px 0px;
    }
        .logo{
            max-width: 60%;
            display: flex;
            justify-content: center;
            align-self: center;
        
            /* ok lets try adding some animation to this logo */
            animation: rotation 3s;

            /* now lets add a declaration value for time */
            animation-timing-function: linear;

            /* and now lets declare how many times the loop will run */
            animation-iteration-count: infinite;
        }
            @keyframes rotation {
                from {
                    transform: rotateY(0deg);
                } to {
                    transform: rotateY(359deg);
                }
            }


section{
    text-align: center;
    padding: 0px 0px 50px 0px;
}
/* the classes below will allow you to edit the text in the corresponding fields if your wish */
    .aboutMe{
        padding: 0px 0px 50px 0px;
    }

    .technicalSkills{
        padding: 0px 0px 50px 0px;
    }

    .highlightedProjects,
    .activelyWorking{
        display: flex;
        justify-content: space-evenly;
        padding: 50px 0px 50px 0px;
    }
    
    /* You can add additional functions to the boxes*/
    .box{
        color: aliceblue;
    }

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 50px 0px 50px 0px;
}